# 单词打卡整合脚本

In [1]:
import pandas as pd
import numpy as np

## 读取相应打卡数据

In [2]:
series30 = pd.read_excel("3070导出版第一周.xlsx")
series70 = pd.read_excel("71导出版第一周.xlsx")
#dataframeof30 = pd.DataFrame()

In [3]:
# series70

In [4]:
result_name = []

## 整合两个打卡项目的名单

In [5]:
def intergartion_name(data30, data70):
    result_name = []
    
    for da30 in data30["圈子昵称"]:
        result_name.append(da30)
        
    for da70 in data70["圈子昵称"]:
        if da70 not in result_name:
            result_name.append(da70)
        
    return result_name

In [6]:
a = intergartion_name(series30, series70)
len(a)

453

## 创建最终结果的DataFrame

In [7]:
df = pd.DataFrame(a)
df

                  0
0      2022101166胡迪
1     2022100404张锦仪
2     2022102143邓紫珊
3      2022102925廖强
4     2022101482江心怡
..              ...
448  2021101486 艾湘晴
449    2023103145杨雪
450   2022103988杨怡倩
451   2020103994王俊豪
452              香桃

[453 rows x 1 columns]

In [8]:
# df.to_excel('output.xlsx', index=False)

## 下面分别更改不同档次名单DataFrame的行index

In [9]:
df30_reindexed = series30.set_index(pd.Index(series30["圈子昵称"]))
df30_reindexed

                          圈子昵称  打卡天数
圈子昵称
2022101166胡迪      2022101166胡迪     7
2022100404张锦仪    2022100404张锦仪     7
2022102143邓紫珊    2022102143邓紫珊     7
2022102925廖强      2022102925廖强     7
2022101482江心怡    2022101482江心怡     7
...                        ...   ...
2023102780杨丰忆    2023102780杨丰忆     1
2023104677张运      2023104677张运     1
2021103334彭雪云    2021103334彭雪云     1
2022151626陈湘雯    2022151626陈湘雯     1
2021103450 庞美盈  2021103450 庞美盈     1

[229 rows x 2 columns]

In [10]:
df70_reindexed = series70.set_index(pd.Index(series70["圈子昵称"]))
df70_reindexed

                        圈子昵称  打卡天数
圈子昵称
2023102750林可欣  2023102750林可欣     7
2021100594彭驿竣  2021100594彭驿竣     7
2021103034梁卓贤  2021103034梁卓贤     7
2023104148曹冰芝  2023104148曹冰芝     7
2023100600吴心悦  2023100600吴心悦     7
...                      ...   ...
2023101913陈怡欣  2023101913陈怡欣     1
2022101128许诺    2022101128许诺     1
2022103279郑佳熙  2022103279郑佳熙     1
2023104677张运    2023104677张运     1
2021103009吴茕    2021103009吴茕     1

[328 rows x 2 columns]

In [11]:
df_reindexed = df.set_index(pd.Index(df[0]))
df_reindexed

                             0
0
2022101166胡迪      2022101166胡迪
2022100404张锦仪    2022100404张锦仪
2022102143邓紫珊    2022102143邓紫珊
2022102925廖强      2022102925廖强
2022101482江心怡    2022101482江心怡
...                        ...
2021101486 艾湘晴  2021101486 艾湘晴
2023103145杨雪      2023103145杨雪
2022103988杨怡倩    2022103988杨怡倩
2020103994王俊豪    2020103994王俊豪
香桃                          香桃

[453 rows x 1 columns]

## 创建两个函数，分别计算每个人的打卡天数以及积分

### 计算打卡天数函数

In [12]:
def integrate_days(df30, df70, df):
    days = []
    scores = []
    
    for df in df[0]:
        a = 0
        b = 0
        for data30 in df30["圈子昵称"]:
            if data30 == df:
                a = df30.loc[data30, "打卡天数"]
                b = df30.loc[data30, "打卡天数"]
                
        for data70 in df70["圈子昵称"]:
            if data70 == df:
                a = a + df70.loc[data70, "打卡天数"]
                b = b + 2 * df70.loc[data70, "打卡天数"]
        days.append(a)
        scores.append(b)
            
            
#        for data70 in df70["圈子昵称"]:
#            if data70 == df:
#                a = a + df70.loc[data70, "打卡天数"]
                
#        days.append(a)
    
    return days

### 计算积分的函数

In [13]:
def integrate_scores(df30, df70, df):
    days = []
    scores = []
    
    for df in df[0]:
        a = 0
        b = 0
        for data30 in df30["圈子昵称"]:
            if data30 == df:
                a = df30.loc[data30, "打卡天数"]
                b = df30.loc[data30, "打卡天数"]
                
        for data70 in df70["圈子昵称"]:
            if data70 == df:
                a = a + df70.loc[data70, "打卡天数"]
                b = b + 2 * df70.loc[data70, "打卡天数"]
        days.append(a)
        scores.append(b)
            
            
#        for data70 in df70["圈子昵称"]:
#            if data70 == df:
#                a = a + df70.loc[data70, "打卡天数"]
                
#        days.append(a)
    
    return scores

## 将积分以列表形式导出

In [14]:
days = integrate_days(df30_reindexed, df70_reindexed, df_reindexed)
scores = integrate_scores(df30_reindexed, df70_reindexed, df_reindexed)

In [15]:
len(days)

453

In [16]:
len(scores)

453

## 在最终结果中的DataFrame中创建两个新的行，然后将打卡天数和积分导入进去

In [17]:
df["打卡天数"] = days
df["积分"] = scores

In [18]:
# df

## 将最终结果导出到excel

In [19]:
df.to_excel('output111.xlsx', index=False)